        a{ 
            text-decoration: none;
            color: inherit;
            
        }
        /* 公共字体样式大小等 */
        .fz12{
            font-size: 12px;
        }
        .fz14{
            font-size: 14px;
        }
        .left{
            float: left;
        }
        .red{
            background: #f1393a;
        }
        .white{
            color: white;
        }
        /* 公共样式结束 */
        .top-bar{
            background: #333333
        }
        .top-bar a{
            display: inline-block
        }
        .top-bar .container{
            font-size:12px;
            color: #b0b0b0;
            font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
            line-height: 40px;
            font-weight: 400;
        }
        /* 给span标签设置间距 */
        .top-bar div div span{
            margin: 0px 6px;
        }
        /* 间距结束 */
        .container{
            
            width: 1226px;
            margin-left: auto;
            margin-right: auto;
            }
        .info{
            float: left;
            height: 40px;
            line-height: 40px;
        }
        .top-bar .spa{
            color : #424242
            
        }
        #car-width{
            width: 120px;
            height: 40px;
            background: #424242;
            float: right;
            
        }
        .account{
            
            width: 142.47px;
            float: right;

        }
        .car-a{
            position: relative;
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #b0b0b0;
            background: #424242;
            margin-left: 15px
        }
        
        .car-a img{
            width: 20px;
            height: 20px;
            
            top: 5px;
            margin-right: 4px;
            vertical-align: -4px;
            line-height: 40px
            
            
        }
        .clear-fix::after{
            content:"";
            display: block;
            clear: both;
        }
        
        .top-bar a:hover{
            color: #ffffff
        }
        /* 导航栏菜单开始 */
        .menu .container{
            font-size: 16px;
            height: 100px;
            line-height: 100px;
        }
        .header-logo{
            margin-top: 22px;
            float: left;
            height: 55px;
        }
        .img-mi{
            width: 55px;
            height: 55px;
            background: #ff6700
            
        }
        /* 商品分类开始 */
        div.menu div.container.clear-fix div.shangpin-fenlei ul li {
            margin-left: 10px;
            display: inline-block;
        }
        .shangpin-fenlei{
            float: left;
            width: 800px;
            
        }
        .search{
            float: right;
            
        }
        .menu a:hover{
            color: #ff6700
        }
        .menu ul{
            padding: 12px 0 0 30px;
            line-height: 88px;
        }
        
        /* 搜索框开始 */
        #input-a{
            padding: 0 10px;
            font-size: 18px;
            outline:none;
            border: 1px solid #e0e0e0
        }
        input:focus{
            border: 1px solid #ff6700;
        }
        #tubiao{
            display: inline-block;
            height: 90px;
            
        }
        #daxiao{
            font-size: 30px;

        }
        #input-b{
            
            background: #ffffff;
            border-color: #b0b0b0;
            outline:none;
            position: relative;
            right: 40px;
            top: 20px;
            z-index: -10;
            border: 1px solid #e0e0e0;
            line-height: 52px;
            
            }
            .iconfont{
                position: relative;
                top: 5px;
                left: 7px;
            }
            
            #daxiao:hover{
                cursor: pointer;
                color: #ffffff;
                background: #ff6700;
            }
            #input-b:hover{
                
                background: #ff6700;}
            .xiaomiphone-1-width{
                width: 160px;
                height: 110px;
                }
            .xiaomishouji-price{
                    text-align: center;
                }
                /* 大菜单样式列表 */
            .big-list-div{
                width: 234px;
                height: 460px;
                border: 1px solid #ff6700;
                position: relative;
                left: 146px;
            }
            /* 大菜单列表细微布局 */
            div.big-list-div.clear-fix.left.container ul li.li a{
                margin-left:20px ;
            }
        #jiantou{
            height: 16px;
            line-height: 16px;
            width: 16px;
        }
        .jiantou-position1{
            position: absolute;
            top: 32px;
            left: 200px;
        }
        .jiantou-position2{
            position: absolute;
            top: 74px;
            left: 200px;
        }
        .jiantou-position3{
            position: absolute;
            top: 116px;
            left: 200px;
        }
        .jiantou-position4{
            position: absolute;
            top: 158px;
            left: 200px;
        }
        .jiantou-position5{
            position: absolute;
            top: 200px;
            left: 200px;
        }
        .jiantou-position6{
            position: absolute;
            top: 242px;
            left: 200px;
        }
        .jiantou-position7{
            position: absolute;
            top: 282px;
            left: 200px;
        }.jiantou-position8{
            position: absolute;
            top: 324px;
            left: 200px;
        }.jiantou-position9{
            position: absolute;
            top: 366px;
            left: 200px;
        }.jiantou-position10{
            position: absolute;
            top: 408px;
            left: 200px;
        }
        .big-list-div ul .li{
            height: 42px;
            line-height: 42px;
            width: 232px;
            display: inline-block;
            margin-left: 3px;
        }
        .li-top{
            margin-top: 32px;
        }
        /* 第二个大菜单列表 */
        .big-list-2{
            width: 992px;
            height: 460px;
            border-right:1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            margin-left: 382px;
        }
        .quanbu-text{

        }
        .big-list-2.container div ul li a{
            padding: 18px 20px;
            display: inline-block;
            width: 225px;
            height: 41px;
        }
        /* 设置ing大小 */
        .big-list-2.container div ul li img{
            height: 40px;
            width: 40px;
        }
        div.big-list-2.container div ul li a span{
            display: inline;
            vertical-align: 15px;
        }

        .big-list-2.container div ul li{
            height: 76px;
            width: 265px;
            display: list-item;
            
        }
        .big-list-2.container div ul{
            width: 248px;
            float: left;
            height: 458px;
            padding: 2px 0px;
        }
        div.big-list-div.clear-fix.left.container ul{
            padding: 20px 0px;
        }
        .big-list-2.container div ul li span{
            font-size: 14px;
        }
        /* 小米秒杀seckill开始 */
        .seckill-header{
            background:url(小米秒杀背景图.jpg) ;
            text-indent: -9999px;
            height: 170px;

        }
        .seckill{
            background: #f5f5f5;
        }
        .modle-nostart{
            height: 68px;
            border: 1px solid black;
            position: fixed;
            z-index: 10;
            margin-left: 145px;
        }
        .modle-nostart .fixed{
            g
        }
        .modle-nostart ul{
            height: 68px;
            width: 100%;
            background: #414141;
            
        }
        .modle-nostart.container#quanzhong ul li{
            height: 68px;
            width: 20%;
            display:block;
            text-align: center;
            float: left;
            line-height: 68px;
        }
        .modle-nostart ul li a em{
            vertical-align: middle;
        }
        .modle-nostart ul li a span{
            vertical-align: middle;
        }
        div ul li a span img{
            height: 190px;
            width: 190px;
            display: block;
        }
        div.container.clear-fix ul li{
            
            float: left;
            margin-left: 13px;
            margin-bottom: 13px;
            height: 190px;
            widows: 400px;

        }
        div.container.clear-fix ul li a span span span{
            display: block;
        }
        div.container.clear-fix ul li a span span{
            display: block;
        }
        .con-write{
            margin-left: 210px;
            width: 180px;
            padding-top: 30px;
        }